In [1]:
from selenium import webdriver

In [2]:
driver = webdriver.Chrome('C:/playwithdata/chromedriver.exe')

url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EC%BD%94%EB%A1%9C%EB%82%98+%ED%98%84%ED%99%A9'
driver.get(url)

In [3]:
from bs4 import BeautifulSoup

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')

#data = soup.select('div.data > dl > div')

In [4]:
data = driver.find_elements_by_css_selector('div.column._column')
dates = []
today_total = []
local = []
oversea = []

for today in data:
    today.click()
    html2 = driver.page_source
    soup2 = BeautifulSoup(html2,'html.parser')
    data2 = soup2.select('div.tooltip_area._tooltip_wrapper > dl > div')
    dates.append(data2[0].select('dd')[0].text)
    today_total.append(data2[0].select('dd')[1].text)
    local.append(data2[1].select('dd')[0].text)
    oversea.append(data2[1].select('dd')[1].text)

In [5]:
dates

today_total

local

oversea

['38', '51', '66', '38', '48', '39', '41']

In [6]:
# , 문자 제거해서 int형으로 만들 수 있게 만들기
for i in range(len(today_total)):
    today_total[i] = today_total[i].replace(',',"")    
    local[i] = local[i].replace(',',"")
    oversea[i] = oversea[i].replace(',',"")

In [7]:
print(today_total)
print(local)
print(oversea)

['2152', '2050', '1879', '1626', '1417', '1508', '2155']
['2114', '1999', '1813', '1588', '1369', '1469', '2114']
['38', '51', '66', '38', '48', '39', '41']

In [14]:
today_total = list(map(int, today_total))
local = list(map(int, local))
oversea = list(map(int, oversea))

print(today_total)
print(local)
print(oversea)

[2152, 2050, 1879, 1626, 1417, 1508, 2155]
[2114, 1999, 1813, 1588, 1369, 1469, 2114]
[38, 51, 66, 38, 48, 39, 41]

In [15]:
import pandas as pd

In [16]:
dic = {
    '날짜' : dates,
    '신규합계' : today_total,
    '국내발생' : local,
    '해외유입' : oversea
}

In [17]:
df = pd.DataFrame(dic)

In [18]:
df

     날짜  신규합계  국내발생  해외유입
0  8.18  2152  2114    38
1  8.19  2050  1999    51
2  8.20  1879  1813    66
3  8.21  1626  1588    38
4  8.22  1417  1369    48
5  8.23  1508  1469    39
6  8.24  2155  2114    41

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      7 non-null      object
 1   신규합계    7 non-null      int64
 2   국내발생    7 non-null      int64
 3   해외유입    7 non-null      int64
dtypes: int64(3), object(1)
memory usage: 352.0+ bytes

In [20]:
df.to_excel('./making/covid_7days.xlsx',index = False)

In [149]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(df[])

In [ ]:
df2 = pd.read_excel('./making/covid_7days.xlsx',index = False)

In [21]:
import pymysql

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password='1234', db='project1')
curs = conn.cursor(pymysql.cursors.DictCursor)

In [ ]:
k_table = 'create table if not exists db_score(sno int primary key, midterm float, final float)'
cusr.execute(mk_table)

sql = 'insert into db_score (sno, midterm, final) values(%s, %s, %s)'
for idx in range(len(data)):
	curs.execute(sql, tuple(data.values[idx]))
conn.commit()

#종료
curs.close()

코드 보관

In [106]:
data2 = soup2.select('div.tooltip_area._tooltip_wrapper > dl > div')

In [124]:
print(data2[0].select('dd')[0].text) # 날짜
print(data2[0].select('dd')[1].text)# 총합수

8.18
2,152