In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./making/covid_city.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      18 non-null     object
 1   누적확진자   18 non-null     int64
 2   신규확진자   18 non-null     int64
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [5]:
df

    지역  누적확진자  신규확진자
0   서울  76814    569
1   경기  68671    513
2   대구  13287     95
3   인천  11406    102
4   부산  11077     78
5   경남   9683     68
6   경북   6866     64
7   충남   6639     92
8   검역   5761     23
9   대전   5463     50
10  강원   5268     26
11  충북   4991     38
12  울산   4037     40
13  광주   3948     28
14  전북   3441     45
15  제주   2524     30
16  전남   2487      8
17  세종    954     10

# 시각화를 위해 데이터 df 만들기

In [73]:
# 검역 제거
df2 = df[df['지역']!= '검역']
df2.reset_index(drop = True)

In [75]:
# 광주 -> 광주광역시
df2 = df2.replace('광주','광주광역시')

In [66]:
cities = df2['지역'].values

In [76]:
len(cities)

17

# 카카오 API 이용하기

In [68]:
import requests

In [69]:
places = []

In [70]:
for city in cities:
    searching = city
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(searching)

    headers = {
        "Authorization": "KakaoAK 50b490bd64fefad5a4611cd9294fd813"
    }

    places.extend(requests.get(url, headers = headers).json()['documents'])

In [74]:
len(places)

17

### 샘플로 주소 검색 맛보기

In [20]:
searching_sample = '서울'
url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(searching_sample)

headers = {
    "Authorization": "KakaoAK 50b490bd64fefad5a4611cd9294fd813"     
    # 입력시 반드시  KakaoAK 뒤에 한 칸 띄우고 API키 값을 적어야 합니다. 
}

places_sample = requests.get(url, headers = headers).json()['documents']
places_sample

[{'address': {'address_name': '서울',
   'b_code': '1100000000',
   'h_code': '1100000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '서울',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.978652258309',
   'y': '37.566826004661'},
  'address_name': '서울',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.978652258309',
  'y': '37.566826004661'}]