In [ ]:
import pymysql

conn = pymysql.connect(host= '127.0.0.1', 
                        user = 'root', 
                        password='1234',
                        db = 'project1', 
                        port=3307,
                        charset='utf8')

cur = conn.cursor()

cur.execute("SELECT * FROM covid_7days")

In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('./making/covid_city.xlsx')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      18 non-null     object
 1   누적확진자   18 non-null     int64
 2   신규확진자   18 non-null     int64
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [7]:
df

    지역  누적확진자  신규확진자
0   서울  76814    569
1   경기  68671    513
2   대구  13287     95
3   인천  11406    102
4   부산  11077     78
5   경남   9683     68
6   경북   6866     64
7   충남   6639     92
8   검역   5761     23
9   대전   5463     50
10  강원   5268     26
11  충북   4991     38
12  울산   4037     40
13  광주   3948     28
14  전북   3441     45
15  제주   2524     30
16  전남   2487      8
17  세종    954     10

카카오 API 이용하기

In [21]:
cities = df['지역'].values

In [45]:
cities

array(['서울', '경기', '대구', '인천', '부산', '경남', '경북', '충남', '검역', '대전', '강원',
       '충북', '울산', '광주', '전북', '제주', '전남', '세종'], dtype=object)

In [ ]:
import requests

In [36]:
places = []

In [37]:
for city in cities:
    searching = city
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(searching)

    headers = {
        "Authorization": "KakaoAK 50b490bd64fefad5a4611cd9294fd813"
    }

    places.extend(requests.get(url, headers = headers).json()['documents'])

In [50]:
places

[{'address': {'address_name': '서울',
   'b_code': '1100000000',
   'h_code': '1100000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '서울',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.978652258309',
   'y': '37.566826004661'},
  'address_name': '서울',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.978652258309',
  'y': '37.566826004661'},
 {'address': {'address_name': '경기',
   'b_code': '4100000000',
   'h_code': '4100000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '경기',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '127.00892996953',
   'y': '37.2749769872425'},
  'address_name': '경기',
  'address_type': 'REGION',
  'road_address': None,
  'x': '127.00892996953',
  'y': '37.2749769872425'},
 {'address': {'address_name': '대구',
   'b_code': '2700000000',
   'h_code': '2700000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '대구',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '128.601805491072',
   'y': '35.8713802646197'},
  'address_name': '대구',
  'address_type': 'REGION',
  'road_address': None,
  'x': '128.601805491072',
  'y': '35.8713802646197'},
 {'address': {'address_name': '인천',
   'b_code': '2800000000',
   'h_code': '2800000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '인천',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.705258070068',
   'y': '37.4560044656444'},
  'address_name': '인천',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.705258070068',
  'y': '37.4560044656444'},
 {'address': {'address_name': '부산',
   'b_code': '2600000000',
   'h_code': '2600000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '부산',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '129.075087492149',
   'y': '35.1798200522868'},
  'address_name': '부산',
  'address_type': 'REGION',
  'road_address': None,
  'x': '129.075087492149',
  'y': '35.1798200522868'},
 {'address': {'address_name': '경남',
   'b_code': '4800000000',
   'h_code': '4800000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '경남',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '128.69189688916',
   'y': '35.2377742104522'},
  'address_name': '경남',
  'address_type': 'REGION',
  'road_address': None,
  'x': '128.69189688916',
  'y': '35.2377742104522'},
 {'address': {'address_name': '경북',
   'b_code': '4700000000',
   'h_code': '4700000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '경북',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '128.505799255401',
   'y': '36.5759962255808'},
  'address_name': '경북',
  'address_type': 'REGION',
  'road_address': None,
  'x': '128.505799255401',
  'y': '36.5759962255808'},
 {'address': {'address_name': '충남',
   'b_code': '4400000000',
   'h_code': '4400000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '충남',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.672776193822',
   'y': '36.6588292532864'},
  'address_name': '충남',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.672776193822',
  'y': '36.6588292532864'},
 {'address': {'address_name': '대전',
   'b_code': '3000000000',
   'h_code': '3000000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '대전',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '127.38483484675',
   'y': '36.3505388992836'},
  'address_name': '대전',
  'address_type': 'REGION',
  'road_address': None,
  'x': '127.38483484675',
  'y': '36.3505388992836'},
 {'address': {'address_name': '강원',
   'b_code': '4200000000',
   'h_code': '4200000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '강원',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '127.729829010354',
   'y': '37.8853257858209'},
  'address_name': '강원',
  'address_type': 'REGION',
  'road_address': None,
  'x': '127.729829010354',
  'y': '37.8853257858209'},
 {'address': {'address_name': '충북',
   'b_code': '4300000000',
   'h_code': '4300000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '충북',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '127.491457326501',
   'y': '36.6353581959954'},
  'address_name': '충북',
  'address_type': 'REGION',
  'road_address': None,
  'x': '127.491457326501',
  'y': '36.6353581959954'},
 {'address': {'address_name': '울산',
   'b_code': '3100000000',
   'h_code': '3100000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '울산',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '129.311467815675',
   'y': '35.5394791854502'},
  'address_name': '울산',
  'address_type': 'REGION',
  'road_address': None,
  'x': '129.311467815675',
  'y': '35.5394791854502'},
 {'address': {'address_name': '경기 광주시',
   'b_code': '4161000000',
   'h_code': '4161000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '경기',
   'region_2depth_name': '광주시',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '127.255138719721',
   'y': '37.4293941934866'},
  'address_name': '경기 광주시',
  'address_type': 'REGION',
  'road_address': None,
  'x': '127.255138719721',
  'y': '37.4293941934866'},
 {'address': {'address_name': '광주광역시',
   'b_code': '2900000000',
   'h_code': '2900000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '광주광역시',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.851629955742',
   'y': '35.1601037626662'},
  'address_name': '광주광역시',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.851629955742',
  'y': '35.1601037626662'},
 {'address': {'address_name': '전북',
   'b_code': '4500000000',
   'h_code': '4500000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '전북',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '127.108976712011',
   'y': '35.8201963639272'},
  'address_name': '전북',
  'address_type': 'REGION',
  'road_address': None,
  'x': '127.108976712011',
  'y': '35.8201963639272'},
 {'address': {'address_name': '제주특별자치도',
   'b_code': '5000000000',
   'h_code': '5000000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '제주특별자치도',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.498229141199',
   'y': '33.4889179032603'},
  'address_name': '제주특별자치도',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.498229141199',
  'y': '33.4889179032603'},
 {'address': {'address_name': '전남',
   'b_code': '4600000000',
   'h_code': '4600000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '전남',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.462788333376',
   'y': '34.8160821478848'},
  'address_name': '전남',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.462788333376',
  'y': '34.8160821478848'},
 {'address': {'address_name': '세종특별자치시',
   'b_code': '3600000000',
   'h_code': '3600000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '세종특별자치시',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '127.289195324698',
   'y': '36.4800649113762'},
  'address_name': '세종특별자치시',
  'address_type': 'REGION',
  'road_address': None,
  'x': '127.289195324698',
  'y': '36.4800649113762'}]

In [20]:
searching_sample = '서울'
url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(searching_sample)

headers = {
    "Authorization": "KakaoAK 50b490bd64fefad5a4611cd9294fd813"     
    # 입력시 반드시  KakaoAK 뒤에 한 칸 띄우고 API키 값을 적어야 합니다. 
}

places_sample = requests.get(url, headers = headers).json()['documents']
places_sample

[{'address': {'address_name': '서울',
   'b_code': '1100000000',
   'h_code': '1100000000',
   'main_address_no': '',
   'mountain_yn': 'N',
   'region_1depth_name': '서울',
   'region_2depth_name': '',
   'region_3depth_h_name': '',
   'region_3depth_name': '',
   'sub_address_no': '',
   'x': '126.978652258309',
   'y': '37.566826004661'},
  'address_name': '서울',
  'address_type': 'REGION',
  'road_address': None,
  'x': '126.978652258309',
  'y': '37.566826004661'}]