In [16]:
from selenium import webdriver

driver = webdriver.Chrome('C:/playwithdata/chromedriver.exe')

In [17]:
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EC%BD%94%EB%A1%9C%EB%82%98+%ED%98%84%ED%99%A9'
driver.get(url)

In [18]:
from bs4 import BeautifulSoup

In [19]:
data = driver.find_elements_by_css_selector('div > div:nth-child(4) > div > div.info_top > div > div > div > ul > li:nth-child(2) > a > span')

data[0].click()

In [20]:
html1 = driver.page_source
soup1 = BeautifulSoup(html1,'html.parser')

In [21]:
#data1 = soup1.select('div.type_basic._table > table.table > tbody')

data1 = soup1.select('#_cs_production_type > div > div:nth-child(4) > div > div:nth-child(3) > div:nth-child(1) > div > table > tbody')

In [ ]:
data1[0].select('a')

data1[0].select('a')[

data1[0].select('span')

data1[0].select('span')[3].text.strip()

In [22]:
name = []
city_total = []
city_new = []

In [23]:
for data in data1 : 
    for i, a in enumerate(data.select('span')):
        if i % 3 == 0:
            name.append(a.text.strip())
        elif i % 3 == 1 : 
            city_total.append(a.text.strip())
        elif i % 3 == 2 : 
            city_new.append(a.text.strip())

In [24]:
print(name)
print(city_total)
print(city_new)

['서울', '경기', '대구', '인천', '부산', '경남', '경북', '충남']
['76,245', '68,158', '13,192', '11,305', '10,999', '9,615', '6,802', '6,547']
['675', '586', '101', '120', '86', '104', '71', '76']

In [25]:
data2 = driver.find_elements_by_css_selector('div > div:nth-child(4) > div > div:nth-child(3) > div.csp_paging_area._page_root > div > div > a.csp_pg_next._next.on')

data2[0].click()

In [26]:
data2_table = soup1.select('#_cs_production_type > div > div:nth-child(4) > div > div:nth-child(3) > div:nth-child(2) > div > table > tbody')

In [27]:
for data in data2_table : 
    for i, a in enumerate(data.select('span')):
        if i % 3 == 0:
            name.append(a.text.strip())
        elif i % 3 == 1 : 
            city_total.append(a.text.strip())
        elif i % 3 == 2 : 
            city_new.append(a.text.strip())

print(name)
print(city_total)
print(city_new)

['서울', '경기', '대구', '인천', '부산', '경남', '경북', '충남', '검역', '대전', '강원', '충북', '울산', '광주', '전북', '제주']
['76,245', '68,158', '13,192', '11,305', '10,999', '9,615', '6,802', '6,547', '5,738', '5,413', '5,242', '4,953', '3,997', '3,920', '3,396', '2,494']
['675', '586', '101', '120', '86', '104', '71', '76', '12', '64', '46', '59', '38', '23', '40', '27']

In [28]:
data3 = driver.find_elements_by_css_selector('div > div:nth-child(4) > div > div:nth-child(3) > div.csp_paging_area._page_root > div > div > a.csp_pg_next._next.on')

data3[0].click()

In [29]:
data3_table = soup1.select('#_cs_production_type > div > div:nth-child(4) > div > div:nth-child(3) > div:nth-child(3) > div > table > tbody')

for data in data3_table : 
    for i, a in enumerate(data.select('span')):
        if i % 3 == 0:
            name.append(a.text.strip())
        elif i % 3 == 1 : 
            city_total.append(a.text.strip())
        elif i % 3 == 2 : 
            city_new.append(a.text.strip())

print(name)
print(city_total)
print(city_new)

['서울', '경기', '대구', '인천', '부산', '경남', '경북', '충남', '검역', '대전', '강원', '충북', '울산', '광주', '전북', '제주', '전남', '세종']
['76,245', '68,158', '13,192', '11,305', '10,999', '9,615', '6,802', '6,547', '5,738', '5,413', '5,242', '4,953', '3,997', '3,920', '3,396', '2,494', '2,479', '944']
['675', '586', '101', '120', '86', '104', '71', '76', '12', '64', '46', '59', '38', '23', '40', '27', '8', '16']

In [30]:
dic = {
    '지역' : name,
    '누적확진자' : city_total,
    '신규확진자' : city_new
}

In [31]:
import pandas as pd

In [32]:
df1 = pd.DataFrame(dic)

In [33]:
df1

    지역   누적확진자 신규확진자
0   서울  76,245   675
1   경기  68,158   586
2   대구  13,192   101
3   인천  11,305   120
4   부산  10,999    86
5   경남   9,615   104
6   경북   6,802    71
7   충남   6,547    76
8   검역   5,738    12
9   대전   5,413    64
10  강원   5,242    46
11  충북   4,953    59
12  울산   3,997    38
13  광주   3,920    23
14  전북   3,396    40
15  제주   2,494    27
16  전남   2,479     8
17  세종     944    16

In [34]:
df1.to_excel('./making/covid_city.xlsx', index = False)